<?xml version="1.0" ?>

<!-- For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 -->

<configuration>
  
  <connectionStrings>
    <add name="jayConnectionString" connectionString="Data Source=JAY-SIYARAM;Initial Catalog=jay;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="con" connectionString="server=SQL" />
  </connectionStrings>
  
  <system.web>
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <customErrors mode="On" defaultRedirect="Error.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="Error.aspx" />
    </customErrors>
    
    <sessionState timeout="1" />
    
  </system.web>
  
</configuration>